.table {
    height: 300px;
    width: 700px;
    background: green;
    border-radius: 60px;
    margin-left: 300px;
    margin-top: 120px;
}

.player {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background: #39547b;
    position: absolute;
    text-align: center;
    color: ghostwhite;
}

.foldedPlayer {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background: #1d283b;
    position: absolute;
    text-align: center;
    color: white;
}

.playerLabel {
    margin-top: 30px;
    margin-bottom: 0px;
}

.playerChipsLabel {
    margin-top: 0px;
}

.commonCards {
    position: absolute;
    margin-top: 100px;
    margin-left: 215px;
}

.potAmount {
    position: absolute;
    margin-top: 160px;
    margin-left: 115px;
}

.dashboard {
    left: 0;
    top: 0;
    position: fixed;
    width: 170px;
    height: 100%;
    background: gray;
    padding-left: 30px
}

#dealerbutton {
    background: blue;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -100px;
    position: relative;
}

#player1 {
    margin-left: -50px;
    margin-top: 100px;
}

#player2 {
    margin-top: 250px;
    margin-left: 167px;
}

#player3 {
    margin-top: 250px;
    margin-left: 434px;
}

#player4 {
    margin-top: -50px;
    margin-left: 167px;
}

#player5 {
    margin-top: -50px;
    margin-left: 434px;
}

#player6 {
    margin-left: 650px;
    margin-top: 100px;
}

.cardimg {
    height: 100px;
    width: 70px;
}
#usernameWarning {
    display: none;
}

#css-input {
    display: inline-block;
    position: relative;
    left: 150px;
    top: 400px;
}
